
header {
    background-color: #1a1b1c;
    color: yellow;
}

header h1 {
    font-family: Arial, sans-serif;
}
.hero {
  background-color: brown ;
  text-align: center;
  padding: 100px;
}

.hero h2 {
  font-size: 30px;
}

.hero p {
  font-size: 10px;
  margin: 20px 0;
}

.hero button {
    padding: 5px 20px;
    background-color: rgb(34, 24, 24);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
      
}

.cards-container{
  margin-top: 20px;
  text-align: center;
  flex: 1px;
 
}

.card{
  float: left; /* */
  width: 100px;
  margin: 3px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  

  border: 1px solid #ddd;
  border-radius: 100px;

  background-color: #fafafa;
  text-align: center;
  
  transition: 0.5s ease;

}


.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,);
}