
header {
    background-color: #1a1b1c;
    color: yellow;
}

header h1 {
    font-family: Arial, sans-serif;
}
#hero button{
    padding: 5px 20px;
    background-color: red;
    color: #1a1b1c;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
#hero p{
    font-size: 20px;
    margin: 20px 0;

}
#hero h2{
    font-size: 30px;

}
#hero{
    background-color:green;
    text-align: center;
    padding: 100px;
}



