
header {
    background-color: #925858;
    color: yellow;
}
header h1{
    font-family: Arial, sans-serif;
}
/*Adicionando a barra de navegação (funcional em todas as páginas)*/
.menu ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8a8080;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu ul li a:hover{
    background-color:rgb(226, 51, 51);
}
.active{
    background-color: #04AA6D;
}
.menu ul li{
    float: left;
  border-right: 1px solid #bbbbbb;
}
/*Personalizando a primeira section do main na index.html, utilizando o id= "hero"*/
#hero{
    background-color: rgb(77, 77, 202);
    text-align: justify;
    padding: 20px;
    box-shadow: 10px 5px 4px;
}
#hero a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
#hero a:hover{
    background-color: #d62424;
    color: #1a1b1c;
}
#hero a:active{
    background-color: yellow;
    color: #1a1b1c;
}
