
/*fazendo o reset da página*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*testando a movimentação do conteudo da pagina com div */
.container {
    margin: 0 auto; 
}

header {
    background-color: #925858;
    color: yellow;
}
header h1{
    padding: 10px;
}
body {
    font-family: Arial, sans-serif;
}
/*Adicionando a barra de navegação (funcional em todas as páginas)*/
.menu ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8a8080;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu ul li a:hover{
    background-color:rgb(226, 51, 51);
}
.active{
    background-color: #04AA6D;
}
.menu ul li{
    float: left;
  border-right: 1px solid #bbbbbb;
}
/*Personalizando a primeira section do main na index.html, utilizando o id= "hero"*/
#hero{
    background-color: rgb(77, 77, 202);
    text-align: justify;
    padding: 20px;
    box-shadow: 10px 5px 4px;
}
#hero a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
#hero a:hover{
    background-color: #d62424;
    color: #1a1b1c;
}
#hero a:active{
    background-color: yellow;
    color: #1a1b1c;
}
/*Personalizando a div para deixar um card do lado do outro*/
#div{
   display: flex;
   justify-content: space-between;
   text-align: justify;
}
#div h3{
    text-align: center;
}
img{
    height: 150px;
    margin-left: 30px;
}
.imagens{
    border: solid 3px #ac5454;
    border-radius: 5px;
}
p {
    padding: 20px;
}
#div{
    margin-top: 20px;
}
/*Personalizando o rodapé das páginas com cor e alinhamento de texto.*/
#rodape{
    text-align: center;
    background-color: #443131;
    color: #ddc7c7;
}
#rodape a{
    color: #ddc7c7;
}