.cabecalho{
    width: 100%;
    height: auto;
    background: var(--bg-gradiente);
} 

    .cabecalho__ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

.cabecalho__li{
    display: inline-block;
    margin: 0 1%;
}

.cabecalho__a{
    display: inline-block;
    background-color: #1A0000;
    padding: 4%;
    width: 9vw;
    text-align: center;
   
}

/*PSEUDO CLASSE*/

.cabecalho__a:hover{
    background-color: #750000;
    color: #ffffff;
}

@media(max-width:320px){
    .cabecalho__a{
        padding: 2%;
        width: 2%;
        font-size: 2rem;
    }


    .cabecalho__ul{
      justify-content: space-around;
    }