
header {
    background-color: #1a1b1c;
    color: yellow;
}

header h1 {
    font-family: Arial, sans-serif;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

#hero{
  background-color: #6b6a6a;
  text-align: justify;
  padding: 10px;
  box-shadow: 10px 5px 4px rgba(0, 0, 0, 0.2);
  border-radious: 5px;
}
 #hero a{
  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
 }
/* Pseudo é como se fosse uma condição
Falamos para o seletor, se acontecer isso, faça aquilo*/
#hero a:hover{
  background-color: #656565;
  color: #373737;
}

#hero a:active{
  background-color: #deff49;
  color: #232323;
}
/* Editar a imagem*/
