
header {
    background-color: #7e7e7e;
    color: black;
    text-align: center;
}

header h1 {
    font-family: Arial, sans-serif;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  text-align: center;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center; /* CENTRALIZA */
  padding: 0;
  margin: 0;
  background-color: #464646;
  font-family: Arial, sans-serif;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

#hero {
  background-color: #f4f4f4;
  text-align: center;
  padding: 40px;
  box-shadow: 10px 5px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
 #hero a{
  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
 }
/* Pseudo é como se fosse uma condição
Falamos para o seletor, se acontecer isso, faça aquilo*/
#hero a:hover{
  background-color: #7e7e7e;
  color: #181818;
}

#hero a:active{
  background-color: #deff49;
  color: #232323;
}
/* Editar a imagem*/
img {
  width: 5%;
  height: auto;
  border-radius: 5px;
}
.container {
  width: 100%;
  overflow: hidden; /* ajuda com float */
}

.card {
  width: 30%; //Cabem 3 na linha
  float: left; // Deixa os cards lado a lado
  margin: 1.66%; //Espaçamento entre os cards
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center; //Centraliza o conteúdo do card
  box-shadow: 5px 3px 5px rgba(0,0,0,0.1);
}

.card span {
  font-size: 40px; //Tamanho do emoji
}

.card h3 {
  margin: 10px 0;
}