@import url('./assets/css/base.css');




.cabecalho ul li {
    list-style: none;
    display: inline-flex;
    height: 1%;
    width: 10%;
    background-color: transparent;
    border-right: 2px solid #080808;
    align-items: center;
    
}

.cabecalho ul li:last-child {
    border-right: none;
}

.cabecalho ul {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#active{
    background-color: rgb(161, 158, 161);
    border-radius: 50%;
}



.cabecalho a {
    font-size: 140%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    word-spacing: 0%;
    line-height: 90%;
    color: #080808;
    background-color: transparent;
    padding: 10px;
    align-items: center;

}



.cabecalho a:hover {
    color: white;
}