@import url('./assets/css/base.css');
@import url('./assets/css/main.css');




.rodape__p{
        background-color: transparent;
        display: inline-flex;

}

.rodape__div {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1%;
    padding: 1.3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000;
    color: white;
    margin-top: 1%;
    flex-direction: column;
    
    
}
.rodape a{
    background-color: transparent;
    word-spacing: 10%;
    border: 1px dotted white;

}
