
.cabecalho {
    background-color: hsl(211, 41%, 36%);
    color:aliceblue;
}

.titulo {
    font-family: Arial, sans-serif;
    padding: 15px;
    letter-spacing: -1px;
    margin: auto;
}

.navegacao {
    background-color:#375E87;
    padding: 10px;
}

.navegacao a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aliceblue;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.navegacao a:hover {
    color:#375E87;
    background-color: aliceblue;
    transition: 0.5s;
}

h2 {
    font-family: Arial, sans-serif;
    color:#375E87;
}

section p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#mais-info {
    color: #375E87;
    font-size: 17px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    display: block;
}

#mais-info:hover {
    color: palevioletred;
    transition: 0.3s;
}

footer p {
    font-size: 14px;
    color: #375E87;
}

.hero {
    background-color:#FFFFFF;
    padding-left: 10px;
    text-align: justify;
}

.hero a {
    padding: 3px;
}

#botao:hover{
    background-color: palevioletred;
    transition: 0.5s;
}

.container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    
}

.card {
    background-color:azure;
    border: 2px solid #375E87;
    border-radius: 10px;
    padding: 15px;
}

.botao-01 {
    background-color: #375E87;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 17px;
    color: aliceblue;
}

.paragrafo-card {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #375E87;
}

.titulo-card {
    font-family: Arial, sans-serif;
    color: #375E87;
}

.rodape {
    padding:15px;
}

.rodape a {
    color: aliceblue;
    background-color: #375E87;
    font-size: 17px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 10px;
}

.rodape a:hover {
    background-color: palevioletred;
    transition: 0.5s;
}