/* RESET BÁSICO E CONFIG DE BOX-SIZING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding/border não quebrem a largura dos elementos */
}

/* IDENTIDADE VISUAL (Var) */
:root {
    --cor-principal: #375E87;
    --cor-principal-dark: hsl(211, 41%, 36%);
    --cor-destaque: palevioletred;
    --cor-fundo-claro: #FFFFFF;
    --cor-card-fundo: azure;
    --cor-texto-claro: aliceblue;
    
/* Fontes */
    --fonte-titulos: Arial, sans-serif;
    --fonte-corpo: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* BODY */
body {
    font-family: var(--fonte-corpo);
    background-color: var(--cor-fundo-claro);
    color: var(--cor-principal);
    line-height: 1.6;
}


.cabecalho {
    background-color: var(--cor-principal-dark);
    color: var(--cor-texto-claro);
}

.titulo {
    font-family: var(--fonte-titulos);
    padding: 15px;
    letter-spacing: -1px;
}

.navegacao {
    background-color: var(--cor-principal);
    padding: 10px;
}

.navegacao a {
    font-family: var(--fonte-corpo);
    color: var(--cor-texto-claro);
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.navegacao a:hover {
    color: var(--cor-principal);
    background-color: var(--cor-texto-claro);
    transition: 0.5s;
}

h2 {
    font-family: var(--fonte-titulos);
    color: var(--cor-principal);
    margin-bottom: 10px;
}

#mais-info {
    color: var(--cor-principal);
    font-size: 17px;
    font-family: var(--fonte-corpo);
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

#mais-info:hover {
    color: var(--cor-destaque);
    transition: 0.3s;
}

footer p {
    font-size: 14px;
    color: var(--cor-principal);
}

.hero {
    background-color: var(--cor-fundo-claro);
    padding: 20px 10px;
    text-align: justify;
}

.container {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    flex: 1; /* Faz os cards dividirem o espaço */
    min-width: 250px; /* Impede que fiquem esmagados */
    background-color: var(--cor-card-fundo);
    border: 2px solid var(--cor-principal);
    border-radius: 10px;
    padding: 15px;
}

.botao-01 {
    display: inline-block;
    padding: 5px 15px;
    background-color: var(--cor-principal);
    font-family: var(--fonte-corpo);
    text-decoration: none;
    font-size: 17px;
    color: var(--cor-texto-claro);
}

.botao-01:hover {
    background-color: var(--cor-destaque);
    transition: 0.5s;
}

.titulo-card {
    font-family: var(--fonte-titulos);
    color: var(--cor-principal);
    margin-bottom: 8px;
}

.rodape {
    padding: 15px;
    text-align: center;
}