
header {
    background-color: rgb(66, 126, 167);
    color: rgb(255, 255, 255);
}

header h1 {
    font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4e8dc0;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #4bbdff;
}

ul li {
  float: left;
  border-right: 1px solid #bbbbbb;
}

ul li:last-child {
  border-right: none;
}

#hero {
    background-color: #7d9bc2;
    text-align: justify;
    padding: 10px;
    box-shadow: 10px 5px 4px;
    
}